services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  test:
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run test
    profiles:
      - test
    environment:
      CI: "true"
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:

